<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div id="categoriesDiv" th:fragment="cats">
    <div class="category" th:if="${!categories.isEmpty() and categories != null}" th:each="cat : ${categories}">
        <button class="deleteCatButton">
            <i class="fa fa-light fa-trash"></i>
        </button>
        <h3 class="categoryName" th:text="${cat.name}">Category Name</h3>
        <p class="noteCount" th:text="${cat.notes.size()}">Notes Count</p>
    </div>
</div>

<script type="module">
    System.import('clickCategory');
    for (const elementsByClassNameElement of document.getElementsByClassName("category")) {
        elementsByClassNameElement.addEventListener('click', clickCategory);
    }
</script>
</body>
</html>